<nav class="bg-violet-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo / Título -->
    <a href="{% url 'note_list' %}" class="text-2xl font-bold flex-grow text-center">Notes Tracker</a>

    <!-- Botão do menu hamburger -->
    <div class="block md:hidden">
      <button id="hamburger" class="focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <!-- Menu de navegação -->
    <div id="navMenu" class="hidden md:flex flex-grow justify-between items-center">
      <div class="flex items-center">
        {% if user.is_authenticated %}
        <span class="mr-4">hello, {{ user.username }}</span>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="bg-violet-400 hover:bg-violet-500 text-white font-bold p-2 rounded">
            Logout
          </button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="bg-violet-400 hover:bg-violet-500 text-white font-bold p-2 rounded">
          Login
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Menu expandido no mobile -->
  <div id="mobileMenu" class="hidden md:hidden bg-violet-700 p-4">
    <div class="text-center">
      {% if user.is_authenticated %}
      <span class="mr-4 block">hello, {{ user.username }}</span>
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="bg-violet-400 hover:bg-violet-500 mt-2 text-white font-bold p-2 rounded">
          Logout
        </button>
      </form>
      {% else %}
      <a href="{% url 'login' %}" class="bg-violet-400 hover:bg-violet-500 text-white font-bold p-2 rounded block">
        Login
      </a>
      {% endif %}
    </div>
  </div>
</nav>

<!-- Script para controlar o menu hamburger -->
<script>
  const hamburger = document.getElementById('hamburger');
  const mobileMenu = document.getElementById('mobileMenu');

  hamburger.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>
