{% extends "base.html" %}

{% block title %}My Notes{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">My Notes</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {% for note in notes %}
  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <div class="p-8">
      <h2 class="text-xl font-semibold mb-1.5">{{ note.title }}</h2>
      <span class='bg-orange-500 text-white px-3 py-1 rounded-full text-sm' >{{ note.category.name|default:"Sem categoria" }}</span>
      <p class="text-gray-600 my-6">{{ note.content|truncatewords:30 }}</p>
      <div class="flex justify-between items-center text-xs text-gray-500">
        <span>Author: {{ note.owner }}</span>
        <span>published: {{ note.created_at|date:"d/m/Y H:i" }}</span>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="col-span-full text-center text-gray-500">Você ainda não tem notas. Comece a criar agora!</p>
  {% endfor %}
</div>
{% endblock content %}
