{% extends "base.html" %}
{% load static %}

{% block title %}My Notes{% endblock %}

{% block content %}

{% include "includes/nav.html" %}

<main class='lg:p-10 md:p-8 p-4 m-auto'>
  <!-- Cabeçalho com título e botão para adicionar notas -->
  <div class='flex justify-between mb-4 items-center text-center'>
    <h1 class="text-2xl font-bold p-2.5">My Notes</h1>
    <button class='bg-orange-500 rounded-md text-white p-2.5 font-bold' onclick="openModal()">
      Add Note
    </button>
  </div>

  <!-- Modal para criação de nova nota -->
  <div id="noteModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-semibold mb-4">Add Note</h2>
      <form id="noteForm">
        <input type="text" id="noteTitle" placeholder="Title" class="border p-2 mb-2 w-full" required>
        <textarea id="noteContent" placeholder="Content" class="border p-2 mb-2 w-full" required></textarea>
        <button type="submit" class="bg-green-500 text-white p-2 rounded">Save</button>
        <button type="button" onclick="closeModal()" class="bg-red-500 text-white p-2 rounded">Cancel</button>
      </form>
    </div>
  </div>

<!-- Grid que exibe as notas -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for note in notes %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
      <div class="p-4">
        <div class='flex justify-between items-center text-center'>
          <h2 class="text-xl font-semibold p-2">{{ note.title }}</h2>
          <div class='items-center text-center'>
            <button onclick="editNote('{{ note.id }}', '{{ note.title }}', '{{ note.content }}')" class="text-green-600"><i class="fa fa-pencil"></i></button>
            <button onclick="deleteNote('{{ note.id }}')" class="text-red-600"><i class="fa fa-trash-alt"></i></button>
          </div>
        </div>
        <div class="flex flex-wrap gap-2 pb-2 pl-1.5">
          {% for category in note.categories.all %}
          <span class='bg-green-600 text-white px-2.5 py-1 rounded-full text-xs'>{{ category.name }}</span>
          {% empty %}
          <span class='bg-gray-300 text-gray-600 px-2.5 py-1 rounded-full text-xs'>Sem categoria</span>
          {% endfor %}
        </div>
        <span class="text-gray-600">{{ note.content }}</span>
        <div class="flex justify-between items-center text-xs text-gray-500 pt-4 pl-1.5">
          <span>Author: {{ note.owner }}</span>
          <span>Published: {{ note.created_at|date:"d/m/Y H:i" }}</span>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="col-span-full text-center text-gray-500">You don't have notes yet. Start creating them now!</p>
    {% endfor %}
  </div>
</main>

<script src="{% static 'js/notes.js' %}"></script>
{% endblock content %}
